---
layout: home-page
---

<ol class="post-card-box clearfix">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}


  {% for path in page_paths %}
  {%- assign my_page = site.pages | where: "path", path | first -%}
  {%- if my_page.title -%}

  <li>
    <div class="post-card">
      <a href="{{my_page.url | prepend: site.baseurl}}" class="post-card-image" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : my_page.img}} )">
      </a>

      <div class="post-card-body">
        {% for tag in my_page.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"><h3 class="post-card-title">{{my_page.title}}</h3></a>
      </div>

    </div>
  </li>
  {%- endif -%}
  {% endfor %}

</ol>
